<!DOCTYPE html>
<html lang="en">

{% block header %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <title>{% block title %}{% endblock %}</title>
</head>
{% endblock %}

<body>
    <content>
        {% block body %}{% endblock %}
    </content>
    <footer>
        {% block footer %}
        <center> quality assurance &copy; 2019 </center>
        {% endblock %}
    </footer>
</body>

</html>