{% extends "base.html" %}
{% block title %}Measure Once Cut Thrice{% endblock %}
{% block body %}
<div align="right">
    {% if canedit %}
    <form action="{{ url_for('edit', userid = userid, blogid = blogid, title = title, content = content) }}">
        <input type="submit" value="Edit">
    </form>
    {% endif %}
    <form action="/home">
        <input type="submit" value="Home">
    </form>
    <form action="/myblog">
        <input type="submit" value="My Blog">
    </form>
</div>
<div align="center">
    <h2> {{ title }} </h2>
    <br>
    <italic> Author: {{ author }} | Last Updated: {{ lastupdated }} </italic>
    <br>
    <br>
    <p> {{ content }} </p>
    <br>
</div>
{% endblock %}